.book-pg{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width:90%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    padding-bottom: 5%;
    height: 100%;
    align-items: center;
}

.book-pg_img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 0px 20px;
}

.book-pg_navlinks{
    
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}

.book-pg_navlink {
    font-size:small;
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: bold;
    color: rgb(84, 88, 82);
    text-transform: uppercase;
    letter-spacing: 0.5px;  
}

.book-pg_navlink:hover {
    color: rgb(6,36,6);
}

.book-pg_img-wrapper {
    display: flex;
    max-width: 500px;
    justify-content: center;
    box-shadow: 6px 6px 8px rgb(84, 88, 82);   
}

.book-pg_img {
    object-fit: fill;
    width: 100%;
    height: 500px;
}

.book-pg_ratings {
    margin-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    
}

.book-pg_details-container {
    width: 75%;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 6px 6px 8px rgb(84, 88, 82);   
    text-overflow: ellipsis;
    justify-content: left;
}

.book-pg_title{
    font-size: large;
    text-transform: capitalize;
}

.book-pg_author{
    font-size: large;
    text-transform: capitalize;
}

.book-pg_blurb{
    padding-left: 10%;
    padding-right: 10%;

    text-overflow: ellipsis;
    word-wrap: nowrap;
    justify-content: left;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow-y: auto;
}

.book-pg_price{
}

.book-pg_add-btn{
    width: 100%;
    background: transparent;
    border-radius: 30px;
    border: 2px solid rgb(6,36,6);
    text-transform: uppercase;
    cursor: pointer; 
}

.book-pg_add-btn:hover{
    color: #fbfbf3;
    border: 2px solid rgb(6,36,6);
    background: rgb(6,36,6);
    transition: ease;
}