.card {
    display: block;
    padding: 5px;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    margin-block:30px;
    width : 75%;
}

.card:focus {
    cursor: crosshair;
    outline: solid 8px rgb(6, 36, 6); 
}

.card_img-wrapper{
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;    
    box-shadow: 0 0 0 4px #2d1f09;
}

.card_img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.card_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: fit-content;

    position: relative;
    left:50%;
    transform: translate(-50%)
}

.card_tite{
    font-size: x-small;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.card_author{

}

.card_blurb{

}

.card_price{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;
    text-align: center;
    font-size: 0.9em;
}