.staff-picks{
    margin-top: 0;
    width:90.14%;
    display: block;
    align-content: center;
    transform: translateY(-0.49em);
    overflow: visible;
}

.sp-banner-wrapper{
    align-self: center;
    width:100%;
    height: 100px;
    background-image: url('src/assets/images/staff-picks.png');
    min-height: 100%;
    background-size: 33% 100%;
    margin-left: 5.5%;
}

.sp-banner-img{
    object-fit: fill;
    object-position: 50% 50%;
}

.staff-picks-cards{
    width:100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(8,325px);
    grid-template-rows: 1fr;
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-block: 15px;
}