.fa {
   width: 90%;
   overflow-x:hidden;
   padding-block:50px;
   padding-inline: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
   align-content: center;
   margin-left: 2.5%;
   margin-right: 2.5%;
   color: black;
}

.fa_col-1,
.fa_col-2 {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-inline: 30px;
}

.fa_col-1 {
    align-items: center;
    padding-block: 10px;
    padding-inline: 30px;
    gap: 30px;

    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow-y: auto;
    text-overflow: ellipsis;
    word-wrap: nowrap;
    justify-content: left;
    text-align: left;

}

.fa_col-2 {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.fa_img-wrapper {
    max-width: 60vw;
    max-height: 400px;
    height:100;
   
}

.fa_col-img {
    width: 100%;
    object-fit: fill;
    object-position:top;
}

.fa-author_name {
    margin-block: 5px;
}

.fa_link {
    position: relative;
    margin-block: 10px;
    text-underline-offset: 2px;
    font-size:  16px;
    letter-spacing: 0.5px;
    color: black;
    top: -15px;
}

.fa_link:hover {
    color: black;
    text-decoration: underline solid;
}