.recommendations-cards{
    width:100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,325px);
    grid-template-rows: 1fr;
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-block: 15px;
}

