.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color:#6a3324;
    padding-left: 4vw;
    padding-block: 2.5vw;
}

.search_label {
    align-items: center;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 6%;
    width:80%;
    font-size: 1.7vw;
    flex-shrink: inherit;
}

.search_wrapper {
    width: 80%;
    display:flex;
    justify-content: right;
    align-items: center;
}

.search_options {
    height:100%;
    width:20%
}

.search_submit {
    height:100%;
    width: auto;
    background-color: transparent;
    translate:-60px;
    color: rgb(6, 36, 6);
    border: none;
    outline: none;
}

.search_submit:focus{
    outline: none;
}



